body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  font-family: monospace;
  color: #00ffcc;
}

#clock {
  font-size: 60px;
  letter-spacing: 3px;
}

#footer {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  opacity: 0.7;
}
